
@{
    ViewBag.Title = "Dodaj_trase";
}

<h2>Dodaj trase</h2>


@model Projekt.Models.DodajTrase
<div class="jumbotron">



    <form action="/Admin/dodaj_tra" method="post">
        @Html.AntiForgeryToken()
        @Html.EditorForModel(Model)
        <input type="submit" value="Dodaj" />
    </form>
</div>
<div>
    @Html.ActionLink("Funkcja Admina", "FunkcjeAdmina")
</div>