@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


    Nie mamy siedziby<br />
   
    <abbr title="Telefonu tez nie>P:</abbr>



    <strong>Pomoc techniczna nie dostepna</strong>   <br />
    <strong>Pomocy szykaj pod tym adresem</strong> <a href="www.google.com">cos</a>
