
@{
    ViewBag.Title = "paneluzytkownika";
}

@ViewBag.Nazwa

<h2>paneluzytkownika</h2>

<h2>Witamy Co chcesz zrobić</h2>

<table style="width:100%;">
    <tr>
        <td>&nbsp;<a href='/Home/Kup_Bilet' class="btn btn-primary btn-lg">Kup Bilet</a></td>
        <td>&nbsp;<a href='/Admin/Zaplanuj_Trase_v2' class="btn btn-primary btn-lg">Przegląd tras </a></td>
        <td>&nbsp;<a href='/Home/Dodaj_srodki' class="btn btn-primary btn-lg">Dodaj srodki do portfela </a></td>

    </tr>
</table>